@import '../../../../styles/typography.scss';

.overview {
  @extend .mainText;
  padding: 0 0 10px 0;
}

.username,
.email,
.verification {
  margin: 0 0 15px 0;
}

.verification {
  display: flex;
  flex-direction: column;
  width: fit-content;
  span {
    margin: 0 0 5px 0;
  }
}

.verified {
  color: green;
}

.notVerified {
  color: red;
}
