@import '../../styles/typography.scss';

.apodBackground {
  background-position: center center;
}

.advicePage {
  color: var(--white);
}

.loader {
  margin: 200px 0 0 0;
}

.spinner {
  border-top-color: var(--white);
  border-bottom-color: var(--white);
}
